#wrap{
    width: 100%;
    height: 100%;
}
#content{
    width: 100%;
    height: 90%;
    overflow: hidden;
}
#tab{
    width: 100%;
    height: 10%;
    border-top:1px solid #eee ;
    position: fixed;
    bottom: 0;
    font-size: .16rem;
}
#tab>ul{
    width: 100%;
    height: 100%;
    display: flex;
}
#tab>ul li{
    width: 25%;
    height: 100%;

}
#tab>ul>li>a{ width: 100%; height: 100%; display: flex;align-items: center;justify-content: center;}