/*create  by yanghuan 2017 7 2*/


.home{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.swiper-slide img{
    width:100%;
}
.hot-products{
    width: 100%;
    height: 21%;
    display: flex;
    padding: 2% 0 0 2%;
}
.hot-products-info{
    width: 25%;
    height: 100%;
    marging-right:1%;
}
.hot-products-info>div{
    width: 90%;
    height: 70%;
}
.hot-products-info>div img{
    width: 100%;
    height: 100%;
}
.hot-products-info>p{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.14rem;
    color:#666;
}
.sale{
    width: 100%;
    height: 40%;
    background: #eee;
    padding-top: 3%;
}
.sale .saleProduts{
    width: 100%;
    height: 100%;
    background: white;
}
.saleProduts>p{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.12rem;

}
.sale .time{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sale .time>p{
    width: 10%;
    height: 100%;
}
.products-container{
    width: 100%;
    height: 80%;
    overflow: hidden;
    /*background: #eee;*/
    position: relative;

}
.products-wrapper{
    width:100%;
    height:100%;
    white-space: nowrap;
    overflow: scroll;
    overflow-y: hidden;

}
.products-slide{
    width: 27%;
    height: 100%;
    display: inline-block;
    margin-right: 3%;
    position: relative;
}
.products-container ul:first-child{
    margin-left: 3%;
}
.products-slide .saleProductImg{
    width: 100%;
    height: 70%;
}
.products-slide .saleProductImg>img{
    width: 100%;
    height: 100%;
}
.products-slide li:nth-child(2){
    width: 100%;
    height: 8%;
    background: #000;
    opacity: 0.5;
    color: #fff;
    position: absolute;
    top:62%;
    text-align: center;
    font-size: 0.14rem;
}
.products-slide li:nth-child(3){
    width: 100%;
    height: 10%;
    clear: both;
    margin:3% 0;
}
.products-slide li:nth-child(3) span:nth-child(1){
    float: left;
    color:red;
    font-size: 0.14rem;
}
.products-slide li:nth-child(3) span:nth-child(2){
    float: right;
    color:#666;
    font-size: 0.12rem;
    text-decoration: line-through;
}
.products-slide li:nth-child(4){
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-slide li:nth-child(4)>a{
    width: 70%;
    height: 100%;
    background: red;
    border-radius: 25px;
    color:white;
    font-size: 0.10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fasion{
    width: 100%;
    height: 30%;
    margin-top: 8%;
}
.fasion>h3{
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fasion>ul{
    width:100%;
    height:80%;
    display:flex;
    flex-wrap:wrap;
    column-count:4;
}
.fasion>ul>li{
    width:25%;
    height:100%;
}
.fasion-pic{
    width:100%;
    height:80%;
}
.fasion>ul>li>p{
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.good-products{
    width:100%;
    height:40%;
}
.good-products>h3{
    width:100%;
    height:15%;
}
.good-products>p{
    width:100%;
    height:10%;
}
.good-products-bpic{
    width:100%;
    height:30%;
}
.good-products-cate{
    width:100%;
    height:45%;
}
.good-products-inner{
    width:100%;
    height:100%;
}





