<div id="minbox">
    <div id="minhead">
        <a href="" id="returnBtn"></a>
        <p>个人中心</p>
        <div class="flagbox" >
            <a href="" class="skipBtn"  ui-sref="login" ng-init="loginbtn='登录'" ng-click="click_loginbtn()">{{loginbtn}}</a>
        </div>
        <!--<div  class="flagbox" ng-hide="flag">-->
            <!--<a href="" class="skipBtn"  ui-sref="mine.order" ng-click="flag2 = !flag2">退出</a>-->
        <!--</div>-->

    </div>

    <div id="user_info">
        <div id="user_info_row1">
            <div id="user_head">
                <img src="http://s3.mogucdn.com/new1/v1/bdefaultavatar/06.jpg" alt="">
            </div>
            <p id="user_name" ng-init="username='未登录'"  >{{username}}</p>
        </div>
        <div id="user_info_row2">
            <ul>
                <li ui-sref="goods"><a href=""><div class="favorite_row1">{{goodsnum}}</div><p class="favorite_row2">收藏的宝贝</p></a></li>
                <li ui-sref="shops"><a href=""><div class="favorite_row1">{{shopnum}}</div><p class="favorite_row2">收藏的店铺</p></a></li>
                <li><a href=""><div class="favorite_row1"><span id="coupon"></span></div><p class="favorite_row2">优惠券</p></a></li>
                <li><a href=""><div class="favorite_row1"><span id="address"></span></div><p class="favorite_row2">收货地址</p></a></li>
            </ul>
        </div>
    </div>
    <div class="mine_line"></div>

    <a href="" id="shareBtn">
        <span id="starbox"></span>
        <p>成为分享达人</p>
        <span id="sharebox2">分享赚钱  <i class="fa fa-angle-right"></i></span>
    </a>
    <div class="mine_line"></div>

    <ul id="order">
        <li ui-sref=".order"><a href="">
            <div class="iconbox"></div>
            全部订单</a></li>
        <li ui-sref=".pay"><a href="">
            <div class="iconbox"></div>
            待付款</a></li>
        <li ui-sref=".getgoods"><a href="">
            <div class="iconbox"></div>
            待收货</a></li>
        <li ui-sref=".evaluate"><a href="">
            <div class="iconbox"></div>
            待评价</a></li>
    </ul>

    <div id="order_info" ui-view></div>
</div>
</div>