
<!--create  by yanghuan 2017 7 3-->

<!--热卖单品-->
<div class="hotProductPage">
    <div class="hot-banner"><img src="img/hb.jpg" alt=""></div>
    <div class="hotProductWord">
        <span><img src="img/h.png" alt=""></span>
        <p>想要穿的漂亮是每个女孩子的追求，怎么才能救轻轻松松拥有吸睛能力，轮时尚嗅觉
            的敏感度，一众走在潮流前面的明星可以说是了如指掌，跟上他们的步伐绝对不会出错哦！
        </p>
        <span><img class="h-r" src="img/h.png" alt=""></span>
        <div class="hotProductInner">
            <ul ng-repeat="item in hotProductData">
                <li><img src="{{item.image}}" alt=""></li>
                <li><span></span>&nbsp￥<span>{{item.discountPrice}}</span></li>
                <li>{{item.title}}</li>
            </ul>
        </div>
        <div class="starproduct">
            <div  class="starproductTitle">
                <p ng-class="{true:'active',false:'inactive'}[isActive1]" ng-click="add1()">爱明星同款</p>
                <p ng-class="{true:'active',false:'inactive'}[isActive2]" ng-click="add2()">爱街拍神奇</p>
            </div>
            <div class="starProductInfo">
                <ul ng-repeat="item in starProductData">
                    <li><img src="{{item.show.img}}" alt=""></li>
                    <li>{{item.title}}</li>
                    <li>￥{{item.sale}}</li>
                </ul>
            </div>
        </div>
    </div>


</div>