/*create  by yanghuan 2017 7 3*/

.hotProductPage{
    width: 100%;
    height: 100%;
    overflow:auto;
    position: relative;
}
.hotProductPage .hot-banner{
    width: 100%;
    height: 20%;
}
.hotProductPage .hot-banner>img{
    width:100%;
    height:100%;
}
.hotProductWord{
    width: 100%;
    /*height: 80%;*/
}
.hotProductWord>p{
    font-size: 0.16rem;
    height:18%;
    font-weight: 400;
    padding-left: 2%;
}
.hotProductWord>span{
    display: block;
    width: 100%;
    height: 6%;
}
.hotProductWord>span>img{
    display: inline-block;
    width:6%;
    height:80%;
}
.h-r{
    float: right;
}
.hotProductInner{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hotProductInner ul{
    width:46%;
    height:30%;
    margin:0 2% 2%;
}
.hotProductInner ul li:nth-child(1){
    width:100%;
    height:30%;
}
.hotProductInner ul li:nth-child(1) img{
    width:100%;
    height:100%;
}
.hotProductInner ul li:nth-child(2){
    width:100%;
    height:20%;
    font-size: 0.18rem;
    font-weight: 500;
    color:red;
}
.hotProductInner ul li:nth-child(3){
    width:100%;
    height:10%;
    font-size: 0.16rem;
    color:#666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.starproduct{
    width:100%;
    height:50%;
}
.starproductTitle{
    width:100%;
    height:0.5rem;
    display: flex;
}
.starproduct .active{
    width:50%;
    height:100%;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.18rem;
}
.starproduct .inactive{
    width:50%;
    height:100%;
    background: pink;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.16rem;
}
.starProductInfo{
    width:100%;
    height:85%;
    padding-left:2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.starProductInfo ul{
    width:48%;
    height:100%;
    margin:0 2% 2% 0;
}
.starProductInfo ul li:nth-child(1){
    width:100%;
    height:80%;
}
.starProductInfo ul li:nth-child(1) img{
    width:100%;
    height:100%;
}
.starProductInfo ul li:nth-child(2){
    width:100%;
    height:10%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:#666;
}
.starProductInfo ul li:nth-child(3){
    width:100%;
    height:10%;
    color:#ff0000;
}
